.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 0 25px ;
  padding: 15px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: rgba(222, 239, 253, 0.926)
}